<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? locals.title : 'Job Search' %></title>
    <!-- Link to an external stylesheet -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/dashboard">
              <img src="static/assets/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <%= process.env.APP?process.env.APP:'Chat App'  %>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
              </li>
             
             
            </ul>
            <div class="d-flex" role="search">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= locals.user?user:'No email found'  %>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="<%= locals.user?user:'No email found'  %>"><%= locals.user?user:'No email found'  %></a></li>
                  <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout">
                    <form action="/logout" method="POST">
                      <button class="btn btn-danger">Logout</button>
                    </form>
                  </a></li>
                </ul>
              </li>
             
            </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="mt-5 container">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
      </div>
</body>
</html>
